.sidebar {
  z-index: 99999;
  position: absolute;
  top: 0;
  height: 100%;
  width: 25%;
  left: 0;
  padding-top: 2%;
  color: white;
  background: rgb(0 0 0 / 88%);
}

.sidebar::-webkit-scrollbar {
  width: 12px;
}

.sidebar::-webkit-scrollbar-track {
  background: #3f5bbf;
}

.sidebar::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  border-radius: 10px;
  border: 3px solid #ffffff;
}

.back_arrow_sidebar img {
  height: 60%;
}
.back_arrow_sidebar {
  height: 100%;
}
.top-categories {
  padding: 7%;
  height: 14rem;
  overflow: scroll;
  overflow-x: hidden;
}
